In [1]:
import pandas as pd
import numpy as np
import datetime
from time import gmtime, strftime
import mariadb
from sqlalchemy import create_engine
import pymysql

In [2]:
def date_to_strdate(date):
    return     date.strftime('%Y-%m-%d %H:%M:%S')

In [3]:
pan_conn = pymysql.connect(host='ec1-it-prd-wibledrive-rds.clv6o5ibky6t.eu-central-1.rds.amazonaws.com', user='devops', password='Maas1223@' , charset='utf8')

In [4]:
core_conn = pymysql.connect(host='ec1-it-prd-core-rds.clv6o5ibky6t.eu-central-1.rds.amazonaws.com', user='devops', password='Maas1223@' , charset='utf8')

In [5]:
# 월요일 00시에 돌아간다는 가정. 아무튼 월요일에 돌아야함.
today = datetime.date.today() 
last_monday = today - datetime.timedelta(days=today.weekday()+7)
last_sunday = today - datetime.timedelta(days=today.weekday()+1)

In [6]:
start_date = last_monday.strftime("%Y-%m-%d %H:%M:%S")
print("data starting on:",start_date)

data starting on: 2021-12-13 00:00:00

In [7]:
end_date = last_sunday.strftime("%Y-%m-%d")
end_date = end_date[:11]+' 23:59:59'
print("data end on:",end_date)

data end on: 2021-12-19 23:59:59

# table 미리 불러오기 with pandas

In [8]:
print("get data from DB")
#전체 예약 정보
query = 'SELECT * FROM maas_db_reservation.reservations'
print(query)
reservations = pd.read_sql_query(query,core_conn)

get data from DB
SELECT * FROM maas_db_reservation.reservations

In [9]:
query = 'SELECT * FROM maasfms.reservation_short'
print(query)
reservation_short = pd.read_sql_query(query,pan_conn)

SELECT * FROM maasfms.reservation_short

In [10]:
#mp 테이블
query = "select p.reservation_id, (case when p.pg_tid is null then 'Offline' else 'Online' end) on_off from maasfms.payment p left join maasfms.payment_history ph on p.reservation_id = ph.reservation_id left join maasfms.reservation_short rs on p.reservation_id = rs.reservation_id where p.deleted_at is null and p.reservation_count between 0 and 1"
print(query)

mp = pd.read_sql_query(query,pan_conn)

select p.reservation_id, (case when p.pg_tid is null then 'Offline' else 'Online' end) on_off from maasfms.payment p left join maasfms.payment_history ph on p.reservation_id = ph.reservation_id left join maasfms.reservation_short rs on p.reservation_id = rs.reservation_id where p.deleted_at is null and p.reservation_count between 0 and 1

In [11]:
#전체 rental vehicle 테이블
query = 'SELECT * FROM maas_db_reservation.rental_vehicles where deleted_at is null'
print(query)

rental_vehicles = pd.read_sql_query(query,core_conn)

SELECT * FROM maas_db_reservation.rental_vehicles where deleted_at is null

In [12]:
query = "select * from maasfms.location where name not in ('Songdong-Gu', 'Seoul','KMIT','Test','이종원','KME')"
print(query)

location = pd.read_sql_query(query,pan_conn)
print("check location names in the system:",location.name.unique())
print()

select * from maasfms.location where name not in ('Songdong-Gu', 'Seoul','KMIT','Test','이종원','KME')
check location names in the system: ['KMG TOP s.r.o.' 'KIA Bratislava s.r.o' 'AUTO-VALAS s.r.o.'
 'Slovakia Auto, s.r.o.' 'Livorno' 'AUTOMOBILS A.R. - Sagrada Familia'
 'AUTOMOBILS A.R. - Zona Franca' 'AUTOMOBILS A.R. - Maquinista'
 'AUTOMOBILS A.R. - Sant Boi' 'ELECKAI MOTOR 3.0, S.L.' 'Tavernerio (CO)'
 'ELITE MOTORS - Kia Vénissieux' 'AMK - Kia Perpignan'
 'Milano V.Gallarate (MI)' 'San Salvo (CH)' 'AMK 31 - Kia Toulouse'
 'Grottammare' 'Rome' 'Solagna (VI)' 'EDENAUTO - Kia Pau' 'Sassari'
 'Pian Camuno' 'Riviera Car Center - Kia Le Cannet'
 'CAR Avenue - Kia Metz' 'Arcidosso' 'Milano V.Cassinis (MI)' 'Terni'
 'Olbia' 'San Giovanni Teatino (CH)' 'Daejeon' 'CAR Avenue - Kia Mulhouse'
 'Cantù (CO)' 'Lecce' 'Induno Olona (VA)'
 "KOTE AUTO - Kia Villeneuve d'Ascq" 'CARSERWIS' 'SZIC' 'KORCZYK PLUS'
 'Camerano (AN)' 'Saronno (VA)' 'Rieti' 'Foggia' 'Modugno (BA)'
 'Lurate Caccivio (CO)' 'AUTOMOBILS A.R. - Urgel']

In [13]:
# id컬럼명 수정
location["pickup_station_id"] = location["ID"]

In [14]:
#전체 vehicle
query = 'SELECT * FROM maas_db_vehicle.vehicles'
print(query)
vehicles = pd.read_sql_query(query,core_conn)
vehicles["business_id"] = vehicles["group_id"]

SELECT * FROM maas_db_vehicle.vehicles

In [15]:
#전체 vehicle model
query = 'SELECT * FROM `maas_db_vehicle-model`.vehicle_models '
print(query)
vehicle_models = pd.read_sql_query(query,core_conn)

SELECT * FROM `maas_db_vehicle-model`.vehicle_models

In [16]:
vehicle_models1 = vehicle_models[vehicle_models["is_standard"]==0]

In [17]:
# 스탠다드 모델만 가져옴
print("get standard vehicle model")
vehicle_models2 = vehicle_models[vehicle_models["is_standard"]==1]
# vehicle_models2 = vehicle_models2[vehicle_models2["deleted_at"].isna()]

get standard vehicle model

In [18]:
query = "select * from maasfms.chargevehicle where deleted_at is null "
print(query)
chargevehicle = pd.read_sql_query(query, pan_conn)

select * from maasfms.chargevehicle where deleted_at is null

In [19]:
query = "select * from maasfms.business where deleted_at is null"
print(query)
business = pd.read_sql_query(query, pan_conn)
business["business_id"] = business["id"]

select * from maasfms.business where deleted_at is null

In [20]:
query = "select cv.vehicle_id \
          from maasfms.chargevehicle cv \
          join maasfms.charge c on cv.charge_id = c.id \
         where 1 = 1 \
           and cv.deleted_at is null \
           and c.deleted_at is null"
print(query)
vehicle_charge = pd.read_sql_query(query, pan_conn)

select cv.vehicle_id           from maasfms.chargevehicle cv           join maasfms.charge c on cv.charge_id = c.id          where 1 = 1            and cv.deleted_at is null            and c.deleted_at is null

In [21]:
query = "select reservation_id , min(created_at) as reservated_at from maas_db_reservation.reservations where created_at >= '2020-09-20 22:00:00'            and created_at <= '"+ end_date+ "'       group by reservation_id"
print(query)
reservated_at = pd.read_sql_query(query, core_conn)

select reservation_id , min(created_at) as reservated_at from maas_db_reservation.reservations where created_at >= '2020-09-20 22:00:00'            and created_at <= '2021-12-19 23:59:59'       group by reservation_id

In [22]:
query = "select * from maasfms.country "
print(query)
country = pd.read_sql_query(query, pan_conn)

select * from maasfms.country

In [23]:
vehicle_models1 = vehicle_models1.sort_values(by="created_at", ascending=True)
vehicle_models1 = vehicle_models1.drop_duplicates(subset=["vehicle_model_id","standard_model_id","vehicle_model_name"], keep="last")

In [25]:
vehicles1 = vehicles.drop_duplicates(subset=["vehicle_id","model_id"], keep="last")

In [26]:

print("============================ query end ==============================")
print("closing connections")
# pan_conn.close()
# core_conn.close()
print("============================ stat start ==============================")
print("예약 일수 별 예약 통계")
#reservations join rental vehicle
print("join reservations, rental_vehicles")
day_stat_reservation_count = pd.merge(reservations, rental_vehicles[['reservation_id','vehicle_id','pickup_station_id']], how='left', on='reservation_id')
print("row count of merged above: ",len(day_stat_reservation_count))
#reservation join rental vehilce inner join location 

print("join location")
day_stat_reservation_count = pd.merge(day_stat_reservation_count, location[["pickup_station_id","name"]], how='inner',on='pickup_station_id')
print("row count of merged above: ",len(day_stat_reservation_count))

print("join vehicles")
day_stat_reservation_count = pd.merge(day_stat_reservation_count, vehicles1[["vehicle_id","model_id"]], how="inner", on="vehicle_id")
print("row count of merged above: ",len(day_stat_reservation_count))
day_stat_reservation_count["vehicle_model_id"] = day_stat_reservation_count["model_id"]

print("join vehicle model")
day_stat_reservation_count = pd.merge(day_stat_reservation_count, vehicle_models1[["vehicle_model_id","standard_model_id","vehicle_model_name"]], how="inner", on="vehicle_model_id")
print("row count of merged above: ",len(day_stat_reservation_count))

print("join standard vehicle model")
day_stat_reservation_count = pd.merge(day_stat_reservation_count, vehicle_models2[["vehicle_model_name","standard_model_id"]], how="inner", on="standard_model_id")
print("row count of merged above: ",len(day_stat_reservation_count))

print("join mc(chargevheicle and charge)")
day_stat_reservation_count = pd.merge(day_stat_reservation_count, vehicle_charge, how="inner", on='vehicle_id')
print("row count of merged above: ",len(day_stat_reservation_count))
print("join reservated_at")
day_stat_reservation_count = pd.merge(day_stat_reservation_count, reservated_at, how="inner", on="reservation_id")
print("row count of merged above: ",len(day_stat_reservation_count))
# print("join mp")
# day_stat_reservation_count = pd.merge(day_stat_reservation_count, mp, how="left", on='reservation_id')
# print("row count of merged above: ",len(day_stat_reservation_count))
print()

============================ query end ==============================
closing connections
============================ stat start ==============================
예약 일수 별 예약 통계
join reservations, rental_vehicles
row count of merged above:  5798
join location
row count of merged above:  5559
join vehicles
row count of merged above:  5465
join vehicle model
row count of merged above:  5465
join standard vehicle model
row count of merged above:  5465
join mc(chargevheicle and charge)
row count of merged above:  5394
join reservated_at
row count of merged above:  5187

In [27]:
# 비교를 위한 컬럼 type 변경
day_stat_reservation_count["reserveated_at"] = pd.to_datetime(day_stat_reservation_count['reservated_at'])

In [28]:
#where 절

day_stat_reservation_count = day_stat_reservation_count[day_stat_reservation_count['reservated_at'] >= datetime.datetime.strptime('2020-09-20 22:00:00','%Y-%m-%d %H:%M:%S')]
day_stat_reservation_count = day_stat_reservation_count[day_stat_reservation_count['reservated_at'] <= datetime.datetime.strptime(end_date,'%Y-%m-%d %H:%M:%S')]
day_stat_reservation_count = day_stat_reservation_count[day_stat_reservation_count['deleted_at'].isna()]
day_stat_reservation_count = day_stat_reservation_count[day_stat_reservation_count['reservation_status'].isin(('CONFIRMED', 'INUSE', 'RETURNED'))]

In [29]:
#데이터 전처리 진행
day_stat_reservation_count = day_stat_reservation_count[day_stat_reservation_count['deleted_at'].isna()]
day_stat_reservation_count = day_stat_reservation_count.sort_values(by="reservated_at", ascending=False)
day_stat_reservation_count.reservation_start_time = day_stat_reservation_count.reservation_start_time.dt.date
day_stat_reservation_count.reservation_end_time  = day_stat_reservation_count.reservation_end_time.dt.date
day_stat_reservation_count["rental days"]= day_stat_reservation_count.reservation_end_time - day_stat_reservation_count.reservation_start_time
# day_stat_reservation_count = day_stat_reservation_count.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

# 일자 별 예약일 합계

In [30]:
print("1~7 days")
week = day_stat_reservation_count[(day_stat_reservation_count["rental days"]>=datetime.timedelta(days=0)) & (day_stat_reservation_count["rental days"]<= datetime.timedelta(days=6)) ].id.count()
print(week)
print("====================")
print("8~29 days")
month = day_stat_reservation_count[(day_stat_reservation_count["rental days"]>=datetime.timedelta(days=7)) & (day_stat_reservation_count["rental days"]<= datetime.timedelta(days=29)) ].id.count()
print(month)
print("====================")
print("1~3 months")
three_month = day_stat_reservation_count[(day_stat_reservation_count["rental days"]>=datetime.timedelta(days=30)) & (day_stat_reservation_count["rental days"]<= datetime.timedelta(days=89)) ].id.count()
print(three_month)
print("====================")
print("3~ months")
etc = day_stat_reservation_count[(day_stat_reservation_count["rental days"]>=datetime.timedelta(days=90))  ].id.count()
print(etc)
print("====================")
print("all")
print(len(day_stat_reservation_count))
day_reservation = {'~1week': [week], 

                  '~1M': [month], 

                 '1M~3M': [three_month],
                  
                  '3M~': [etc],
                  'SUM':[len(day_stat_reservation_count)]}
df = pd.DataFrame(day_reservation)

1~7 days
678
====================
8~29 days
122
====================
1~3 months
44
====================
3~ months
3
====================
all
847

# 차종별 예약 현황 - 국가별 신규 차량이 등록되고 있으므로 전과 데이터 상이 할 수 있음

In [31]:
print('--------------------------------------------------------')
print("차종별 예약 현황")
print("차종별 예약현황 data processing:")
print("left join reservations, rental_vhehicles")
vehicle_stat_reservation_count = pd.merge(reservations, rental_vehicles[["reservation_id","vehicle_id","pickup_station_id"]], how="left", on="reservation_id")
print("row count of merged above: ",len(vehicle_stat_reservation_count))

print("inner join location")
vehicle_stat_reservation_count = pd.merge(vehicle_stat_reservation_count, location[["pickup_station_id","name"]], how='inner',on='pickup_station_id')
print("row count of merged above: ",len(vehicle_stat_reservation_count))

print("inner join vehicles")
vehicle_stat_reservation_count = pd.merge(vehicle_stat_reservation_count, vehicles1[["vehicle_id","model_id"]], how="inner", on="vehicle_id")
vehicle_stat_reservation_count["vehicle_model_id"] = vehicle_stat_reservation_count["model_id"]
print("row count of merged above: ",len(vehicle_stat_reservation_count))
print("inner join vehicle models")

vehicle_stat_reservation_count2 = pd.merge(vehicle_stat_reservation_count, vehicle_models1[["vehicle_model_id","standard_model_id","vehicle_model_name"]], how="inner", on="vehicle_model_id")
print("row count of merged above: ",len(vehicle_stat_reservation_count2))

print("inner join standard vehicle models")
vehicle_stat_reservation_count2 = pd.merge(vehicle_stat_reservation_count2, vehicle_models2[["vehicle_model_name","standard_model_id"]], how="inner", on="standard_model_id")
print("row count of merged above: ",len(vehicle_stat_reservation_count2))

print("inner join mc(vehicle charge and charge)")
vehicle_stat_reservation_count2 = pd.merge(vehicle_stat_reservation_count2, vehicle_charge, how="inner", on="vehicle_id")
print("row count of merged above: ",len(vehicle_stat_reservation_count2))

print("inner join reservated_at")
vehicle_stat_reservation_count2 = pd.merge(vehicle_stat_reservation_count2, reservated_at, how="inner", on="reservation_id")
print("row count of merged above: ",len(vehicle_stat_reservation_count2))
print()

--------------------------------------------------------
차종별 예약 현황
차종별 예약현황 data processing:
left join reservations, rental_vhehicles
row count of merged above:  5798
inner join location
row count of merged above:  5559
inner join vehicles
row count of merged above:  5465
inner join vehicle models
row count of merged above:  5465
inner join standard vehicle models
row count of merged above:  5465
inner join mc(vehicle charge and charge)
row count of merged above:  5394
inner join reservated_at
row count of merged above:  5187

In [32]:
#where 절
vehicle_stat_reservation_count2 = vehicle_stat_reservation_count2[vehicle_stat_reservation_count2['reservated_at'] >= datetime.datetime.strptime('2020-09-20 22:00:00','%Y-%m-%d %H:%M:%S')]
vehicle_stat_reservation_count2 = vehicle_stat_reservation_count2[vehicle_stat_reservation_count2['reservated_at'] <= datetime.datetime.strptime(end_date,'%Y-%m-%d %H:%M:%S')]
vehicle_stat_reservation_count2 = vehicle_stat_reservation_count2[vehicle_stat_reservation_count2['deleted_at'].isna()]
vehicle_stat_reservation_count2 = vehicle_stat_reservation_count2[vehicle_stat_reservation_count2['reservation_status'].isin(('CONFIRMED', 'INUSE', 'RETURNED'))]

In [33]:
vehicle_stat_reservation_count2 = vehicle_stat_reservation_count2.sort_values(by="reservated_at", ascending=False)
# vehicle_stat_reservation_count2 = vehicle_stat_reservation_count2.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

In [34]:
vehicle_stat_reservation_count2["this week count"]=np.where((vehicle_stat_reservation_count2["reservated_at"] >= datetime.datetime.strptime(start_date, '%Y-%m-%d %H:%M:%S')) &( vehicle_stat_reservation_count2["reservated_at"] <= datetime.datetime.strptime(end_date, '%Y-%m-%d %H:%M:%S')), 1, 0)
vehicle_stat_reservation_count2["tot count"] =1

# 차종별 예약 현황

In [35]:
vehicle_stat_reservation_count2_group = vehicle_stat_reservation_count2[["this week count","tot count"]].groupby(vehicle_stat_reservation_count2['vehicle_model_name_y'])
print("reservation count group by vehicle model")# 국가 별로 나눠야함 --> business country join해서 groupby에 country_name 추가
print(vehicle_stat_reservation_count2_group.sum())
print()

reservation count group by vehicle model
                      this week count  tot count
vehicle_model_name_y
Ceed CD                             1        157
Ceed CD CUV                         2         21
Ceed CD CUV MH                      0          3
Ceed CD CUV PHEV                    0         12
Ceed CD GT                          1         23
Ceed SW CD                          2         67
Niro DE PE                          2         55
Niro DE PHEV                        0         10
Niro DQ EV                          1         79
Picanto JA PE                       5        280
Sportage QL PE                      0         40
Sportage QL PE MH                   0          1
Stonic YB-CUV PE                    4         99

# 차량 등록 현황

### 이부분은 원래 가용차량 아닌 전체 차량이지만 그냥 스킵합시다 요즘제 등록안된

# 국가별 차량 등록 현황

In [36]:
print('--------------------------------------------------------')
print("국가별 차량 등록 현황")
print("국가별 차량 등록 현황 data processing:")
print("left join business, location")
business["business_id"] = business["id"]
country_vehicle = pd.merge(business, location, how="left",on="business_id")
print("row count of merged above: ",len(country_vehicle))

print("left join vehicles")
vehicles["business_id"] = vehicles["group_id"]
country_vehicle = pd.merge(country_vehicle, vehicles, how="left", left_on=["business_id","pickup_station_id"], right_on=["business_id", "station_id"])
print("row count of merged above: ",len(country_vehicle))

print("left join vehicle models")
country_vehicle["vehicle_model_id"] = country_vehicle["model_id"]
country_vehicle = pd.merge(country_vehicle, vehicle_models[["vehicle_model_id","standard_model_id","vehicle_model_name"]], how="inner", on="vehicle_model_id")
print("row count of merged above: ",len(country_vehicle))

print("left join standard vehicle model")
country_vehicle = pd.merge(country_vehicle, vehicle_models2[["vehicle_model_name","standard_model_id"]], how="inner", on="standard_model_id")
print("row count of merged above: ",len(country_vehicle))

print("left join country")
country_vehicle = pd.merge(country_vehicle, country[["id","country_name"]], how="inner", left_on=["country_id"], right_on=["id"] )
print("row count of merged above: ",len(country_vehicle))
country_vehicle = country_vehicle.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

--------------------------------------------------------
국가별 차량 등록 현황
국가별 차량 등록 현황 data processing:
left join business, location
row count of merged above:  42
left join vehicles
row count of merged above:  140
left join vehicle models
row count of merged above:  325
left join standard vehicle model
row count of merged above:  3085
left join country
row count of merged above:  3085

In [37]:
country_vehicle = country_vehicle[
    (country_vehicle.deleted_at.isna()) &
    (country_vehicle.deleted_at_x.isna()) &
    (country_vehicle.deleted_at_y.isna())
]

In [38]:
print("")
print("국가, 모델(standard) 별 차량 등록 현황")
print(country_vehicle[['country_name', 'vehicle_model_name_y','id_x']].groupby(['country_name', 'vehicle_model_name_y']).count())

국가, 모델(standard) 별 차량 등록 현황
                                   id_x
country_name vehicle_model_name_y
Italia       Ceed CD                  9
             Ceed CD CUV              5
             Ceed CD CUV MH           2
             Ceed CD CUV PHEV         2
             Ceed CD GT               1
             Ceed SW CD               4
             Niro DE PE               6
             Niro DE PHEV             1
             Niro DQ EV               2
             Picanto JA PE           13
             Soul EV SK3              1
             Sportage QL PE           5
             Sportage QL PE MH        2
             Stonic YB-CUV PE         8
Slovensko    Sportage MY21            3

In [39]:
print("국가, 딜러그룹, 딜러쉽 별 차량 등록 현황")
print(country_vehicle[['country_name', 'name_x','created_at_x','name_y','created_at_y','id_x']].groupby(['country_name', 'name_x','created_at_x','name_y','created_at_y']).count())

국가, 딜러그룹, 딜러쉽 별 차량 등록 현황
                                                                                                            id_x
country_name name_x                      created_at_x        name_y                    created_at_y
Italia       CAR LISI                    2021-03-30 07:41:57 Foggia                    2021-04-19 11:02:48     2
             CLERICI AUTO SPA            2020-09-07 07:23:41 Cantù (CO)                2020-09-07 07:47:11     2
                                                             Induno Olona (VA)         2020-09-07 07:46:41     6
                                                             Lurate Caccivio (CO)      2020-09-07 07:44:44     5
                                                             Milano V.Cassinis (MI)    2020-09-07 07:40:15     2
                                                             Milano V.Gallarate (MI)   2020-09-07 07:38:18     6
                                                             Saronno (VA)              2020-09-07 07:53:02     3
                                                             Tavernerio (CO)           2020-09-07 07:52:14     1
             CONERO CAR S.p.A            2021-04-22 08:52:17 Camerano (AN)             2021-04-29 08:54:07     4
             EUROMOTOR AUTOMOBILI S.R.L. 2021-02-23 18:58:16 Modugno (BA)              2021-03-16 15:40:42     3
             MAGICAR S.R.L               2021-02-25 21:37:07 Grottammare               2021-03-17 15:20:00     2
             MC MOTORS S.R.L.            2021-03-31 14:12:11 Lecce                     2021-04-06 13:39:07     1
             MEREU AUTO S.R.L.           2021-07-07 15:28:07 Olbia                     2021-07-08 08:38:35     5
             PASQUARELLI AUTO S.r.l.     2021-08-26 15:11:23 San Giovanni Teatino (CH) 2021-08-27 10:01:08     9
                                                             San Salvo (CH)            2021-08-27 10:02:07     6
             SCAR S.R.L.                 2020-12-17 16:54:02 Livorno                   2020-12-17 16:56:10     3
             SCRAMONCIN S.R.L.           2021-02-25 21:40:50 Solagna (VI)              2021-03-16 14:22:33     1
Slovensko    KIA Bratislava s.r.o        2021-11-25 08:55:46 KIA Bratislava s.r.o      2021-11-25 09:14:10     2
             Slovakia Auto, s.r.o.       2021-11-25 08:53:09 Slovakia Auto, s.r.o.     2021-11-25 09:14:10     1

# MP online offline

In [40]:
print('--------------------------------------------------------')
print("결제 방법 통계(Online, Offline")
print("on-off line data processing:")
print("left join reservations, business")
mp_reservations = reservations[reservations["deleted_at"].isna()]
mp_reservations = pd.merge(mp_reservations, business[['name','business_id']], how='inner',left_on="group_id", right_on='business_id')
print("row count of merged above: ",len(mp_reservations))

print("left join maasfms payment")
mp_reservations = pd.merge(mp_reservations, mp, how='left',on="reservation_id")
print("row count of merged above: ",len(mp_reservations))

print("left join reservated_at")
mp_reservations = pd.merge(mp_reservations, reservated_at, how='left',on='reservation_id' )
print("row count of merged above: ",len(mp_reservations))

--------------------------------------------------------
결제 방법 통계(Online, Offline
on-off line data processing:
left join reservations, business
row count of merged above:  1290
left join maasfms payment
row count of merged above:  4368
left join reservated_at
row count of merged above:  4368

In [41]:
#where 절
mp_reservations = mp_reservations[mp_reservations['created_at'] >= datetime.datetime.strptime('2020-09-20 22:00:00','%Y-%m-%d %H:%M:%S')]
mp_reservations = mp_reservations[mp_reservations['reservation_status'].isin(('CONFIRMED', 'INUSE', 'RETURNED'))]
mp_reservations = mp_reservations[mp_reservations['reservated_at'] >= datetime.datetime.strptime(start_date,'%Y-%m-%d %H:%M:%S')]
mp_reservations = mp_reservations[mp_reservations['reservated_at'] <= datetime.datetime.strptime(end_date,'%Y-%m-%d %H:%M:%S')]

In [42]:
mp_reservations = mp_reservations.drop_duplicates(subset=["reservation_id"], keep="last")
mp_reservations.on_off = mp_reservations.on_off.fillna('Offline')
print()
print("결제 방법 별 수")
print(mp_reservations[["on_off","reservation_id"]].groupby('on_off').count())

결제 방법 별 수
         reservation_id
on_off
Offline               2
Online               16

In [43]:
print(mp_reservations[["on_off","reservation_id"]])

       on_off                        reservation_id
3330   Online  48448fc8-5cae-11ec-9ae9-22c7db635845
3331   Online  aa643e1a-5cc2-11ec-9ae9-22c7db635845
3335   Online  9bd0b867-5bed-11ec-9ae9-22c7db635845
3338   Online  84f559ed-5d06-11ec-acfb-8a8c78551c6a
3342   Online  9d2d3ceb-5cfa-11ec-acfb-8a8c78551c6a
3349   Online  94d8483b-5e65-11ec-acfb-8a8c78551c6a
3353   Online  71fcd8b8-5e53-11ec-9ae9-22c7db635845
3357   Online  11991567-5daa-11ec-9ae9-22c7db635845
3359  Offline  978eabfd-5f07-11ec-acfb-8a8c78551c6a
3368   Online  6d7e44e6-5cff-11ec-acfb-8a8c78551c6a
3372   Online  a855c653-5cec-11ec-9ae9-22c7db635845
3375   Online  42d5d17e-60c1-11ec-9ae9-22c7db635845
3616   Online  fa75b087-5ce6-11ec-acfb-8a8c78551c6a
3829   Online  94818982-5bf3-11ec-9ae9-22c7db635845
4062   Online  2baa9f6e-5d95-11ec-acfb-8a8c78551c6a
4063  Offline  5336fa17-5bfc-11ec-acfb-8a8c78551c6a
4157   Online  2def5147-5c1f-11ec-acfb-8a8c78551c6a
4325   Online  2fcbb648-5c05-11ec-acfb-8a8c78551c6a

# 예약 종류별 통계

In [49]:
print('--------------------------------------------------------')
print("예약 종류별 통계")
print("reservation type data processing:")
print("join reservations, rental_vehicles")
regist_type_stat = pd.merge(reservations, rental_vehicles[['reservation_id','vehicle_id','pickup_station_id']], how='left', on='reservation_id')
print("row count of merged above: ",len(regist_type_stat))
#reservation join rental vehilce inner join location 

print("join location")
regist_type_stat = pd.merge(regist_type_stat, location[["pickup_station_id","name"]], how='inner',on='pickup_station_id')
print("row count of merged above: ",len(regist_type_stat))

print("join vehicles")
regist_type_stat = pd.merge(regist_type_stat, vehicles1[["vehicle_id","model_id"]], how="inner", on="vehicle_id")
print("row count of merged above: ",len(regist_type_stat))
regist_type_stat["vehicle_model_id"] = regist_type_stat["model_id"]

print("join vehicle model")
regist_type_stat = pd.merge(regist_type_stat, vehicle_models1[["vehicle_model_id","standard_model_id","vehicle_model_name"]], how="inner", on="vehicle_model_id")
print("row count of merged above: ",len(regist_type_stat))

print("join standard vehicle model")
regist_type_stat = pd.merge(regist_type_stat, vehicle_models2[["vehicle_model_name","standard_model_id"]], how="inner", on="standard_model_id")
print("row count of merged above: ",len(regist_type_stat))

print("join mc(chargevheicle and charge)")
regist_type_stat = pd.merge(regist_type_stat, vehicle_charge, how="inner", on='vehicle_id')
print("row count of merged above: ",len(regist_type_stat))

print("join reservation_short")
reservation_short = reservation_short[reservation_short['deleted_at'].isna()]
regist_type_stat = pd.merge(regist_type_stat, reservation_short, how="left", on="reservation_id")
print("row count of merged above:", len(regist_type_stat))

print("join reservated_at")
regist_type_stat = pd.merge(regist_type_stat, reservated_at, how="inner", on="reservation_id")
print("row count of merged above: ",len(regist_type_stat))

--------------------------------------------------------
예약 종류별 통계
reservation type data processing:
join reservations, rental_vehicles
row count of merged above:  5798
join location
row count of merged above:  5559
join vehicles
row count of merged above:  5465
join vehicle model
row count of merged above:  5465
join standard vehicle model
row count of merged above:  5465
join mc(chargevheicle and charge)
row count of merged above:  5394
join reservation_short
row count of merged above: 5394
join reservated_at
row count of merged above:  5187

In [53]:
regist_type_stat

,id,created_at_x,updated_at_x,deleted_at_x,creator_id,service_id,provider_id,reservation_id,product_id,reservation_start_time_x,...,installment_payment_pay,installment_payment_iterations,installment_payment_productname,installment_payment_rental_fee,enroll_status,charge_changed_yn,old_reservation_id,old_reservation_key,stripe_success_yn,reservated_at
0,62125,2021-05-13 08:05:37,2021-05-13 08:05:37,2021-05-13 08:05:39,,4d82f76c-3073-11ec-861d-0270ee4ad24a,7f87000d-142f-11ec-86a7-02ff1f7ba654,004ccff9-b3c2-11eb-857a-0a73dbc7f556,16bdb534-9913-11eb-a891-0a73dbc7f556,2021-05-13 08:10:00,...,0.0,0,None,30.0,None,NaN,None,None,1,2021-05-13 08:05:37
1,62126,2021-05-13 08:05:39,2021-05-13 08:05:39,2021-05-13 08:05:49,,4d82f76c-3073-11ec-861d-0270ee4ad24a,7f87000d-142f-11ec-86a7-02ff1f7ba654,004ccff9-b3c2-11eb-857a-0a73dbc7f556,16bdb534-9913-11eb-a891-0a73dbc7f556,2021-05-13 08:10:00,...,0.0,0,None,30.0,None,NaN,None,None,1,2021-05-13 08:05:37
2,62127,2021-05-13 08:05:49,2021-05-13 08:05:49,2021-05-13 15:03:51,,4d82f76c-3073-11ec-861d-0270ee4ad24a,7f87000d-142f-11ec-86a7-02ff1f7ba654,004ccff9-b3c2-11eb-857a-0a73dbc7f556,16bdb534-9913-11eb-a891-0a73dbc7f556,2021-05-13 08:05:49,...,0.0,0,None,30.0,None,NaN,None,None,1,2021-05-13 08:05:37
3,62128,2021-05-13 15:03:51,2021-05-13 15:03:51,NaT,,4d82f76c-3073-11ec-861d-0270ee4ad24a,7f87000d-142f-11ec-86a7-02ff1f7ba654,004ccff9-b3c2-11eb-857a-0a73dbc7f556,16bdb534-9913-11eb-a891-0a73dbc7f556,2021-05-13 08:05:49,...,0.0,0,None,30.0,None,NaN,None,None,1,2021-05-13 08:05:37
4,63375,2021-05-24 13:59:19,2021-05-24 13:59:19,2021-05-24 13:59:21,,4d82f76c-3073-11ec-861d-0270ee4ad24a,7f87000d-142f-11ec-86a7-02ff1f7ba654,3c0e1515-bc98-11eb-857a-0a73dbc7f556,16bdb534-9913-11eb-a891-0a73dbc7f556,2021-05-24 16:00:00,...,0.0,0,None,60.0,None,NaN,None,None,1,2021-05-24 13:59:19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5182,65873,2021-09-21 09:09:55,2021-09-21 09:09:55,2021-09-21 09:10:54,,4d82f76c-3073-11ec-861d-0270ee4ad24a,7f870a28-142f-11ec-86a7-02ff1f7ba654,aeb0d50d-1abb-11ec-916b-0a73dbc7f556,4001bf56-0981-11ec-993f-02f92df357c4,2021-09-21 09:10:00,...,0.0,0,,2061.9,,0.0,None,None,0,2021-09-21 09:09:53
5183,65874,2021-09-21 09:10:54,2021-09-21 09:10:54,2021-09-21 09:10:55,,4d82f76c-3073-11ec-861d-0270ee4ad24a,7f870a28-142f-11ec-86a7-02ff1f7ba654,aeb0d50d-1abb-11ec-916b-0a73dbc7f556,4001bf56-0981-11ec-993f-02f92df357c4,2021-09-21 09:10:00,...,0.0,0,,2061.9,,0.0,None,None,0,2021-09-21 09:09:53
5184,65875,2021-09-21 09:10:55,2021-09-21 09:10:55,2021-10-12 14:54:53,,4d82f76c-3073-11ec-861d-0270ee4ad24a,7f870a28-142f-11ec-86a7-02ff1f7ba654,aeb0d50d-1abb-11ec-916b-0a73dbc7f556,4001bf56-0981-11ec-993f-02f92df357c4,2021-09-21 09:10:55,...,0.0,0,,2061.9,,0.0,None,None,0,2021-09-21 09:09:53
5185,65876,2021-10-12 14:54:53,2021-10-12 14:54:53,2021-11-30 15:53:45,,4d82f76c-3073-11ec-861d-0270ee4ad24a,7f870a28-142f-11ec-86a7-02ff1f7ba654,aeb0d50d-1abb-11ec-916b-0a73dbc7f556,4001bf56-0981-11ec-993f-02f92df357c4,2021-09-21 09:10:55,...,0.0,0,,2061.9,,0.0,None,None,0,2021-09-21 09:09:53
5186,67752,2021-11-30 15:53:45,2021-11-30 15:53:45,NaT,,4d82f76c-3073-11ec-861d-0270ee4ad24a,7f870a28-142f-11ec-86a7-02ff1f7ba654,aeb0d50d-1abb-11ec-916b-0a73dbc7f556,4001bf56-0981-11ec-993f-02f92df357c4,2021-09-21 09:10:55,...,0.0,0,,2061.9,,0.0,None,None,0,2021-09-21 09:09:53

In [55]:
#where 절
regist_type_stat = regist_type_stat[regist_type_stat['deleted_at_x'].isna()]
regist_type_stat = regist_type_stat[regist_type_stat['reservation_status_x'].isin(('CONFIRMED', 'INUSE', 'RETURNED'))]
regist_type_stat = regist_type_stat[regist_type_stat['reservated_at'] >= datetime.datetime.strptime('2020-09-20 22:00:00','%Y-%m-%d %H:%M:%S')]
regist_type_stat = regist_type_stat[regist_type_stat['reservated_at'] <= datetime.datetime.strptime(end_date,'%Y-%m-%d %H:%M:%S')]

In [57]:
regist_type_stat[["reservation_id","reservation_regist_type","reservated_at"]].groupby('reservation_regist_type').count()

                                 reservation_id  reservated_at
reservation_regist_type
B2B                                          15             15
COURTESY_CAR                                 86             86
OTHERS                                      193            193
PRIVATE                                     356            356
TEST_DRIVE                                    2              2
UNKNOWN_RESERVATION_REGIST_TYPE             195            195

# 가동률은

In [53]:
print('--------------------------------------------------------')
print("가동률")
activations = reservations[reservations['reservation_end_time'] >= reservations['reservation_start_time']]
activations = activations[activations['reservation_status'].isin(('CONFIRMED', 'INUSE', 'RETURNED'))]
activations = activations[activations["deleted_at"].isna()]                           
activations = activations[activations['reservation_start_time'] <= datetime.datetime.strptime(end_date,'%Y-%m-%d %H:%M:%S')]
activations = activations[activations['reservation_end_time'] >= datetime.datetime.strptime(start_date,'%Y-%m-%d %H:%M:%S')]

----------------------------
가동률

In [54]:
activations['activations_start'] = ''
activations['activations_end'] = ''
for i in range(len(activations['reservation_start_time'])):
    if activations['reservation_start_time'].iloc[i]<= datetime.datetime.strptime(start_date,'%Y-%m-%d %H:%M:%S'):
        activations['activations_start'].iloc[i] = datetime.datetime.strptime(start_date,'%Y-%m-%d %H:%M:%S')
    else: 
        activations['activations_start'].iloc[i] = activations['reservation_start_time'].iloc[i]
        
    if activations['reservation_end_time'].iloc[i] > datetime.datetime.strptime(end_date,'%Y-%m-%d %H:%M:%S'):
        activations['activations_end'].iloc[i] = datetime.datetime.strptime(end_date,'%Y-%m-%d %H:%M:%S')
    else: 
        activations['activations_end'].iloc[i] = activations['reservation_end_time'].iloc[i]
        
        
activations.activations_start = pd.to_datetime(activations.activations_start)
activations.activations_end  = pd.to_datetime(activations.activations_end)
activations["rental days"]= (activations.activations_end - activations.activations_start).dt.days + 1
activation_calculate = pd.DataFrame({
    "총 예약일 수" : [activations["rental days"].sum()],
})
activation_calculate

C:\Users\E681013\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

   총 예약일 수
0      150

# 파일로

In [46]:
print("========================== data processing end extracting to excel file ==========================")
print("extracting data to excel")
today = strftime("%Y-%m-%d", gmtime())
name = "주1회 보고용 통계 " + today

writer = pd.ExcelWriter(name+".xlsx", engine = 'xlsxwriter')
df.to_excel(writer, sheet_name="day_stat_reservation_count")
vehicle_stat_reservation_count2_group.sum().to_excel(writer, sheet_name="차종별 등록 현황")
country_vehicle[['country_name', 'vehicle_model_name_y','id_x']].groupby(['country_name', 'vehicle_model_name_y']).count().to_excel(writer, sheet_name="차량 등록 현황")
country_vehicle[['country_name', 'name_x','created_at_x','name_y','created_at_y','id_x']].groupby(['country_name', 'name_x','created_at_x','name_y','created_at_y']).count().to_excel(writer, sheet_name="차량 등록 현황2")
mp_reservations[["on_off","reservation_id"]].groupby('on_off').count().to_excel(writer, sheet_name="mp_on_off")
regist_type_stat[["reservation_id","reservation_regist_type","reservated_at"]].groupby('reservation_regist_type').count().to_excel(writer, sheet_name="regist_type")
activation_calculate.to_excel(writer, sheet_name="가동률 예약일 수")

writer.save()
writer.close()

extracting data to excel